@import "../../styles/global.scss";
.navbar{
    height:100px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 20px;
    background-color: $primary-color;
    &-logo{
        &_img{
        height:80px;
        }
    }
    &-nav{
        display: flex;
        align-items:center;
        &_item{
            margin-right: 20px;
            font-weight: bold;
            font-size: 1.2rem;;
            transition: all 0.3s;
            border-bottom: 2px solid transparent;
            padding-bottom: 1rem;
            &:hover{
                color: $secondary-color;
                cursor: pointer;
            }
        }
    }
}
.active{
    color: $secondary-color;
    border-bottom: 3px solid red;

}
a{
    text-decoration: none;
    
}